<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.zgrs.clipper" android:versionCode="1" android:versionName="1.1" android:enabled="true">

    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS">
    </uses-permission>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clipper"
        tools:targetApi="31">
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".ClipboardService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"
            android:label="ClipboardService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.app.job.JobService" />
            </intent-filter>
        </service>
        <receiver android:name=".ClipperReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <data android:scheme="clipper" />
            </intent-filter>
            <intent-filter>
                <action android:name="clipper.get" />
                <action android:name="clipper.set" />
                <action android:name="get" />
                <action android:name="set" />
            </intent-filter>
        </receiver>

    </application>

</manifest>